@page
@model CarnetEmprendedor.Pages.Eventos.Interesados.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Registro a evento</h2>

<h4>¿Estás seguro?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="ListaInteresado.Matricula" class="control-label"></label>
            <input asp-for="ListaInteresado.Matricula" class="form-control" />
            <span asp-validation-for="ListaInteresado.Matricula" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input asp-for="ListaInteresado.UsuarioId" type="hidden" value="@Model.UsuarioId" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="ListaInteresado.EventoId" type="hidden" value="@Model.Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
