@page
@model ContactModel
@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>¿Dudas?</h3>

<br />

<a href="mailto:raul.lizarraras@itesm.mx">raul.lizarraras@itesm.mx</a><br />
<p>4395000 Ext. 5528</p>
